<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        body{
            background-color: rgb(235, 168, 157);
            color: rgb(1, 1, 1);
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Elaborado por: Yully Bastidas</h1>
    <p>Elaborando un blog de tattoo, para mi hermana que es una artista del tatuaje, ya tienes varios años trabajando,
        quise crearle donde ella pueda subir su fotos y donde puede actualizar, borrar y volver a crear contenido. 
        Luego poder crear otros campos utilez para su trabajo.
    </p>
</body>
</html>